{{> head}}




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="justify-content-center my-3">

 <h4 class="modal-title" id="myModalLabel">Producto:</h4>
                <img src="">
                <hr>
                <h6>id: </h6>
                <p></p>
                <h6>Precio </h6>
                <p></p>
                <h6>Disponible </h6>
                <p></p>
                <h6>Best seller </h6>
                <p></p>
                <hr>
                <h6>Categorias</h6>
                <div>
                    <ul>
                    
                    </ul>
                </div>

	<a href="/"><button type="button" class="btn btn-primary">Regresar</button></a>

    
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{> footer}}